@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #001139;
  --color-primary-container: #002463;
  --color-secondary: #4c5e83;
  --color-surface: #f8f9fb;
  --color-surface-container: #edeef0;
  --color-surface-container-low: #f3f4f6;
  --color-surface-container-high: #e7e8ea;
  --color-surface-container-highest: #e1e2e4;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #43474f;
  --color-outline-variant: #c4c6d0;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-tertiary-container: #002d37;
  --color-on-tertiary-container: #009db9;
  --color-secondary-container: #bfd2fd;
  --color-on-secondary-container: #475a7e;
  --color-primary-fixed: #dae2ff;
}

@layer base {
  body {
    @apply bg-surface text-on-surface antialiased;
  }
}

.architect-shadow {
  box-shadow: 0 12px 40px rgba(0, 17, 57, 0.08);
}

.glass-panel {
  @apply bg-surface-container-lowest/80 backdrop-blur-xl;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
